@model MvcCV.Models.Entity.TblDeneyimlerim

@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yeni Deneyim Ekleme Sayfası</h4>
<br />
<form class="form-group" method="post">
    <input type="text" name="Baslik" class="form-control" placeholder="Başlığı Yazınız" />
    <br />
    <input type="text" name="AltBaslik" class="form-control" placeholder="Alt Başlığı Yazınız" />
    <br />
    <input type="text" name="Tarih" class="form-control" placeholder="Tarih Yazınız" />
    <br />
    <textarea placeholder="Açıklama Giriniz" name="Aciklama" class="form-control" rows="5"></textarea>
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

